<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="application.properties"/>

    <typeAliases>
        <package name="com.mindware.model"/>
        <package name="mindware.com.netbank.model"/>
    </typeAliases>
    <environments default="netbank">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/dbcontract?searchpath=public"/>
                <property name="username" value="postgres"/>
                <property name="password" value="postgres"/>
            </dataSource>
        </environment>

        <environment id="netbank">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
              <!--  <property name="poolPingQuery" value="SELECT NOW()" />
                <property name="poolPingEnabled" value="true" />
                -->
            </dataSource>
        </environment>


    </environments>
    <mappers>
         <package name="com.mindware.mappers"/>
         <package name="mindware.com.netbank.mappers"/>

        <!-- <mapper resource="com/mindware/mappers/EmpleadoMapper.xml"/> -->
    </mappers>
</configuration>
