<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "mindware.com.netbank.mappers.CodebtorGuarantorNetbankMapper">

    <resultMap type="codebtorguarantornetbank" id="CodeptorGuarantorNetBankResult">
        <id 	property="prdeucage" column="prdeucage"/>
        <result property="prdeunpre" column="prdeunpre"/>
        <result property="prdeutres" column="prdeutres"/>
        <result property="gbagenomb" column="gbagenomb"/>
        <result property="gbagendid" column="gbagendid"/>
        <result property="gbagedir" column="gbagedir"/>
        <result property="gbageddo" column="gbageddo"/>
        <result property="gbageeciv" column="gbageeciv"/>
        <result property="gbagesexo" column="gbagesexo"/>
        <result property="prioridad" column="prioridad"/>
        <result property="adyacentes" column="adyacentes"/>
        <result property="zona" column="zona"/>
        <result property="ciudad" column="ciudad"/>
        <result property="provincia" column="provincia"/>
        <result property="departamento" column="departamento"/>
        <result property="tipoDireccion" column="tipoDireccion"/>


    </resultMap>


    <select id="findCodeptorByNumberLoan" resultMap="CodeptorGuarantorNetBankResult" >
        SELECT prdeucage, prdeunpre, prdeutres, prdeufpro
        , case
       	when gbdacnomb is null then '' else trim(gbdacnomb)
       end || ' ' ||
       case
          when gbdacape1 is null then '' else trim(gbdacape1)
      end || ' ' ||
       case
          when gbdacape2 is null then '' else trim(gbdacape2)
      end || ' ' ||
       case
          when gbdacape3 is null then '' else trim(gbdacape3)
      end   as gbagenomb,

        gbagendid,
        case
        	when	gbagedir1 is null then ''
        	else gbagedir1
        end || ' ' ||
        case
          when  gbagedir2 is null then ''
          else gbagedir2
        end as gbagedir
        , case
            when gbageddo1 is null then ''
            else gbageddo1
          end || ' ' ||
          case
            when gbageddo2 is null then ''
            else gbageddo2
          end as gbageddo
          , case
            when gbageeciv = 1 then 'SOLTERO(A)'
            when gbageeciv = 2 then 'CASADO(A)'
            when gbageeciv = 3 then 'DIVORCIADO(A)'
            when gbageeciv = 4 then 'VIUDO(A)'
            when gbageeciv = 5 then 'UNION LIBRE'
            when gbageeciv = 6 then 'SEPARADO(A)'
            else 'DESCONOCIDO'
          end  as gbageeciv
         , case
            when gbagesexo = 1 then 'MASCULINO'
            when gbagesexo = 2 then 'FEMENINO'
            else 'DESCONOCIDO'
           end as gbagesexo
        , case
		    when prmprcage = prdeucage then 1
		    else 2
          end prioridad,
          '' as adyacentes,
          '' as zona,
          '' as ciudad,
          '' as provincia,
          '' as departamento,
          '' as tipoDireccion
        FROM prdeu
        inner join gbage on (prdeucage = gbagecage)
        inner join gbdac on (gbdaccage = gbagecage)
        inner join prmpr on (prdeunpre = prmprnpre)
        where prdeunpre = #{prdeunpre}
        and prdeutres = 1
    </select>

    <select id="findGuarantorByNumberLoan" resultMap="CodeptorGuarantorNetBankResult" >
        SELECT prdeucage, prdeunpre, prdeutres, prdeufpro
        , case
       	when gbdacnomb is null then '' else trim(gbdacnomb)
       end || ' ' ||
       case
          when gbdacape1 is null then '' else trim(gbdacape1)
      end || ' ' ||
       case
          when gbdacape2 is null then '' else trim(gbdacape2)
      end || ' ' ||
       case
          when gbdacape3 is null then '' else trim(gbdacape3)
      end   as gbagenomb,
        gbagendid,
        case
        	when	gbagedir1 is null then ''
        	else trim(gbagedir1)
        end || ' ' ||
        case
          when  gbagedir2 is null then ''
          else trim(gbagedir2)
        end as gbagedir
        , case
            when gbageddo1 is null then ''
            else gbageddo1
          end || ' ' ||
          case
            when gbageddo2 is null then ''
            else gbageddo2
          end as gbageddo
        , case
            when gbageeciv = 1 then 'SOLTERO(A)'
            when gbageeciv = 2 then 'CASADO(A)'
            when gbageeciv = 3 then 'DIVORCIADO(A)'
            when gbageeciv = 4 then 'VIUDO(A)'
            when gbageeciv = 5 then 'UNION LIBRE'
            when gbageeciv = 6 then 'SEPARADO(A)'
            else 'DESCONOCIDO'
          end  as gbageeciv
         , case
            when gbagesexo = 1 then 'MASCULINO'
            when gbagesexo = 2 then 'FEMENINO'
            else 'DESCONOCIDO'
           end as gbagesexo,
          1 as prioridad,
         '' as adyacentes,
          '' as zona,
          '' as ciudad,
          '' as provincia,
          '' as departamento,
          '' as tipoDireccion
        FROM prdeu
        inner join gbage on (prdeucage = gbagecage)
        inner join gbdac on (gbdaccage = gbagecage)
        where prdeunpre = #{prdeunpre}
        and prdeutres = 2
    </select>

</mapper>