<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "mindware.com.mappers.LoanDataMapper">

    <resultMap type="loandata" id="LoanDataResult">
        <id property="loanDataId" column="loan_data_id"/>
        <result property="branchOfficeId" column="branch_office_id"/>
        <result property="loanNumber" column="loan_number"/>
        <result property="loanDate" column="loan_date"/>
        <result property="currency" column="currency"/>
        <result property="loanMount" column="loan_mount"/>
        <result property="loanTerm" column="loan_term"/>
        <result property="interestRate"  column="interest_rate"/>
        <result property="treRate" column="tre_rate"/>
        <result property="teacRate" column="teac_rate"/>
        <result property="feePayment" column="fee_payment"/>
        <result property="paymentFrecuency" column="payment_frecuency"/>
        <result property="creditLifeInsurance" column="credit_life_insurance"/>
        <result property="totalPayment" column="total_payment"/>
        <result property="loanDestination" column="loan_destination"/>
        <result property="agency" column="agency"/>
        <result property="official" column="official"/>
        <result property="debtorName" column="debtor_name"/>
        <result property="identityCardDebtor" column="identity_card_debtor"/>
        <result property="addressDebtor" column="address_debtor"/>
        <result property="civilStatusDebtor" column="civil_status_debtor"/>
        <result property="genderDebtor" column="gender_debtor"/>
        <result property="clientLoanId" column="client_loan_id"/>
        <result property="fixedPaymentDay" column="fixed_payment_day"/>
        <result property="coDebtors" column="co_debtors"/>
        <result	property="guarantors" column="guarantors"/>
        <result property="warranty" column="warranty"/>
        <result property="extraData" column="extra_data"/>
        <result property="savingBox" column="saving_box"/>
        <result property="spread" column="spread"/>
        <result property="loanLine" column="loan_line"/>
        <result property="lineSpread" column="line_spread"/>
        <result property="lineTerm" column="line_term"/>
        <result property="lineRate" column="line_rate"/>
        <result property="lineMount" column="line_mount"/>
        <association property="branchOffice"  column="branch_office_id" javaType="branchoffice" resultMap="BranchOfficeResult" />

    </resultMap>

    <resultMap type="branchoffice" id="BranchOfficeResult">
        <id 	property="branchOfficeId" column="branch_office_id"/>
        <result property="branchName" column="branch_name"/>
        <result property="cityName" column="city_name"/>
        <result property="provinceName" column="province_name"/>
        <result property="signatories" column="signatories" />
        <result property="address" column="address"/>
    </resultMap>
    
    

    <select id="findLoanDataByLoanNumber" resultMap="LoanDataResult" parameterType="int">
        select *
        from loan_data l
        inner join branch_office bo on (l.branch_office_id = bo.branch_office_id)
        where l.loan_number = #{loanNumber}

    </select>

    <select id="findLoanDataByDebtorName" resultMap="LoanDataResult" parameterType="string">
        select *
        from loan_data
        where debtor_name like #{debtorName}

    </select>

    <insert id="insertLoanData"  parameterType="loandata" keyProperty="loanDataId" >
        <selectKey keyProperty="loanDataId" resultType="int" order="BEFORE">
            select nextval('loan_data_id_seq')
        </selectKey>
        insert into loan_data (
        loan_data_id,
        branch_office_id,
        loan_number,
        loan_date,
        currency,
        loan_mount,
        loan_term,
        interest_rate,
        tre_rate,
        teac_rate,
        fee_payment,
        payment_frecuency,
        credit_life_insurance,
        total_payment,
        loan_destination,
        agency,
        official,
        debtor_name,
        identity_card_debtor,
        address_debtor,
        civil_status_debtor,
        gender_debtor,
        client_loan_id,
        fixed_payment_day,
        co_debtors,
        guarantors,
        warranty,
        extra_data,
        saving_box,
        spread,
        loan_line,
        line_spread,
        line_rate,
        line_term,
        line_mount)
        values (
        #{loanDataId},
        #{branchOfficeId},
        #{loanNumber},
        #{loanDate},
        #{currency},
        #{loanMount},
        #{loanTerm},
        #{interestRate},
        #{treRate},
        #{teacRate},
        #{feePayment},
        #{paymentFrecuency},
        #{creditLifeInsurance},
        #{totalPayment},
        #{loanDestination},
        #{agency},
        #{official},
        #{debtorName},
        #{identityCardDebtor},
        #{addressDebtor},
        #{civilStatusDebtor},
        #{genderDebtor},
        #{clientLoanId},
        #{fixedPaymentDay},
        #{coDebtors}::json,
        #{guarantors}::json,
        #{warranty}::json,
        #{extraData}::json,
        #{savingBox},
        #{spread},
        #{loanLine},
        #{lineSpread},
        #{lineRate},
        #{lineTerm},
        #{lineMount})
    </insert>

    <update id="updateLoanData" parameterType="loanData">
      update loan_data
      set
        branch_office_id = #{branchOfficeId},
        loan_number = #{loanNumber},
        loan_date = #{loanDate},
        currency = #{currency},
        loan_mount = #{loanMount},
        loan_term = #{loanTerm},
        interest_rate = #{interestRate},
        tre_rate = #{treRate},
        teac_rate = #{teacRate},
        fee_payment =#{feePayment},
        payment_frecuency = #{paymentFrecuency},
        credit_life_insurance = #{creditLifeInsurance},
        total_payment = #{totalPayment},
        loan_destination = #{loanDestination},
        agency = #{agency},
        official = #{official},
        debtor_name = #{debtorName},
        identity_card_debtor = #{identityCardDebtor},
        address_debtor = #{addressDebtor},
        civil_status_debtor = #{civilStatusDebtor},
        gender_debtor = #{genderDebtor},
        client_loan_id = #{clientLoanId},
        fixed_payment_day = #{fixedPaymentDay},
        co_debtors = #{coDebtors}::json,
        guarantors = #{guarantors}::json,
        warranty = #{warranty}::json,
        extra_data = #{extraData}::json,
        saving_box = #{savingBox},
        spread = #{spread},
        loan_line = #{loanLine},
        line_spread = #{lineSpread},
        line_rate = #{lineRate},
        line_term = #{lineTerm},
        line_mount = #{lineMount}
        where loan_data_id = #{loanDataId}
    </update>

    <update id="updateCodebtor" parameterType="loanData">
        update loan_data
        set
        co_debtors =  #{coDebtors}::json
        where loan_data_id = #{loanDataId}
    </update>

    <update id="updateInputData" parameterType="loanData">
        update loan_data
        set
          saving_box = #{savingBox},
          tre_rate = #{treRate},
          teac_rate = #{teacRate},
          fee_payment =#{feePayment},
          total_payment = #{totalPayment},
          loan_destination = #{loanDestination}

        where loan_data_id = #{loanDataId}
    </update>

</mapper>